<!DOCTYPE html>
<html>
  <head>
    <title>AdminThemeIntegration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

  </head>

  <body>
    <% unless params[:controller] == 'pages' && ['login', 'register', 'errors'].include?(params[:action]) %>
      <%= render 'shared/sidebar' %>
      <div class="wrapper d-flex flex-column min-vh-100">
        <%= render 'shared/header' %>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
  